body{
    background-image: url('../crowded-audience-in-black-and-white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
}
h1.title {
    text-align: center;
    color: white;
    font-size: 48px;
    margin-top: 50px;
    text-shadow: 2px 2px 4px black;
}

kbd{
    display: block;
    text-align: center;
    font-size: 24px;    
}
span{
    color:rgb(236, 110, 6);
    display: block;
    text-align: center;
}

div.drumbutton {
    FONT-WEIGHT: 800;
    width: 150px;
    height: 100px;
    border :5px solid black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.07s ease;
}

div.container{
    display:flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 250px;
    gap:20px;
    
    
}
div.drumbutton.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 20px #ffc600;
}
